PROJECT_NAME=collection-tracker
WEBSERVER_PORT=4000
PHP_VERSION=8.0

FTP_HOST=http://change_me
FTP_USERNAME=change_me
FTP_PASSWORD=change_me
FTP_PORT=change_me

POSTGRES_VERSION=14
POSTGRES_DB=database
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
TEST_DATABASE_URL=sqlite://./tmp/tests.sqlite
