PROJECT_NAME=collections

# Client related variables
CLIENT_PORT=4300
NODE_VERSION=18

# API related variables
API_PORT=4200
PHP_VERSION=8.2


# Database related variables
MYSQL_VERSION=8.0
DB_DATABASE=collections
DB_PORT=3306
DB_USERNAME=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=password

# Others
UID=1000
GID=1000
