.margin-20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.height-200 {
    height: 200px;
}

.height-400 {
    height: 400px;
}
