parameters:
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    excludes_analyse:
        - src/Console/Installer.php
    ignoreErrors:
        -
            message: '#Constant WWW_ROOT not found.#'
            path: src/

includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
