parameters:
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    excludes_analyse:
        - src/Console/Installer.php
        - src/Controller/CollectionsController.php
    ignoreErrors:
        -
            message: '#Constant WWW_ROOT not found.#'
            path: src/
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$Authorization.#'
            path: src/Controller/ElementsController.php

includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
